table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px 12px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

th {
    background-color: #f2f2f2;
}

td:hover {
    background-color: #f5f5f5;
}

a {
    display: block;
    margin-top: 20px;
    color: blue;
    text-decoration: none;
}
/* styles.css */

.download-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #007BFF; /* Blue color */
    color: #fff; /* White text */
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.download-btn:hover {
    background-color: #0056b3; /* Darken blue on hover */
}
textarea {
    width: 80%;
    padding: 12px 20px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    resize: vertical;
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

h2 {
    text-align: center;
}
.centered-content {
    text-align: center;  /* 水平居中 */
    margin: 20px 0;  /* 在按钮的上下各添加20px的边距 */
}
