<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Link to the external stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>News Crawler Tool</title>
</head>
<body>
<h2>Input Links for News Crawl</h2>
<form action="/" method="post">
    {{ form.hidden_tag() }}  <!-- This will include the CSRF token -->
    <textarea name="link" rows="5" cols="50" placeholder="Input link or list of links separated by comma">{{ form.link.data }}</textarea><br>
    <input type="submit" value="Submit">
</form>

{% if show_table %}
<h2>Results:</h2>
<table>
    <thead>
        <tr>
            <th>Authors</th>
            <th>Publish Date</th>
            <th>Headline</th>
            <th>Text</th>
            <th>Image</th>
            <th>Movies</th>
            <th>Keywords</th>
            <th>Summary</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="/download-csv" class="download-btn">Download CSV</a>

{% endif %}

</body>
</html>
